%h2 Guidelines
%p
  Encourage your team to <strong>not</strong> copy-paste the code-snippets.  They will have a much better learning experience if they manually type in the code.

%h2 Installation
%p
  Use the RailsInstaller: <a href="http://railsinstaller.org/">http://railsinstaller.org/</a> 

%h2 Expectations while Programming
%p
  You will have bugs in your code, you will make mistakes, this is normal while writing software. Learning from mistakes and issues is part of the programming experience.
  Typos and other issues are expected. Don't get discouraged.

%h2 Tutorial Conventions
#style-guide
  %div
    %span.label.label-inverse Terminal
    Commands to type in terminal have black labels
  %div
    %span.label.label-warning Text-Editor
    Code to write in your text-editor have yellow labels
  %div
    %span.label.label-success Action
    These are action items, such as visiting a page in your browser and clicking around
  %div
    %input{:type => "checkbox"}
    Checkboxes next to each step so that participants can track their progress
  .alert.alert-success Action Items for Coaches


%h2 Development Goals
#style-guide
  %div
    On Friday, we will have the Installation Party. There will also be a few smaller tutorials offered aimed at building an interest in various skills supporting Ruby on Rails development.
  %div
    %table.table.table-bordered
      %thead
        %tr
          %th Block
          %th Time
          %th Duration
          %th Activity
      %tbody
        %tr
          %td 1st
          %td 5:30pm-6:00pm
          %td 30 minutes
          %td Welcome
        %tr
          %td 2nd
          %td 6:00-6:15
          %td 15 minutes
          %td Ice Breaker
        %tr
          %td 3rd
          %td 6:15-8:00
          %td Up to 1 hour 45 minutes
          %td Installation Party (once installation is complete/verified, you are welcome to attend a tutorial)
        %tr
          %td 4th
          %td 6:15-6:45
          %td 30 minutes
          %td Tutorial Session #1 (see details below)
        %tr
          %td 5th
          %td 6:45-7:15
          %td 30 minutes
          %td Tutorial Session #2 (see details below)
        %tr
          %td 6th
          %td 7:15-7:45
          %td 30 minutes
          %td Tutorial Session #3 (see details below)
        %tr
          %td 7th
          %td 7:45-8:15
          %td 30 minutes
          %td Tutorial Session #4 (see details below)
    Tutorial Sessions will be offered in parallel. You are welcome to attend any/all of them, though you are not required to:
    %ul
      %li HTML
      %li CSS
      %li Ruby
      %li MVC (Model-View-Controller)
      %li Command-Line/Terminal
  %div
    On Saturday, we will have 3 different blocks for coding. Each tutorial is broken up into 3 parts. Aim to finish a part per block.
  %div
    %table.table.table-bordered
      %thead
        %tr
          %th Block
          %th Time
          %th Duration
          %th Goal
      %tbody
        %tr
          %td
          %td 9:00-9:30
          %td Welcome and Bagels
          %td
          %td
        %tr
          %td 9:30-9:45
          %td Introductions and Housekeeping
          %td
          %td
        %tr
          %td 9:45-10:15
          %td Organizing the groups for the day
          %td
          %td
        %tr
          %td 1st Block
          %td 10:30am - 12:00pm
          %td 1 hour and 30 minutes
          %td Finish Part 1
        %tr
          %td
          %td 12:00-12:30
          %td
          %td Lunch
        %tr
          %td
          %td 12:30-1:00
          %td
          %td Lightning Talks - Learn something about technology
        %tr
          %td 2nd Block
          %td 01:00pm - 03:00pm
          %td 2 hours
          %td Finish Part 2
        %tr
          %td 3rd Block
          %td 03:30pm - 05:00pm
          %td 1 hour and 30 minutes
          %td Finish Part 3 (launch the site on Heroku; add customizations)
        %tr
          %td 
          %td 5:00 - 5:30pm
          %td
          %td Showcase the various programs that teams have written
        %tr
          %td
          %td 5:30+
          %td
          %td Pub?

