%h2 Guidelines
%p
  Encourage your team to <strong>not</strong> copy-paste the code-snippets.  They will have a much better learning experience if they manually type in the code.

%h2 Installation
%p
  Use the RailsInstaller: <a href="http://railsinstaller.org/">http://railsinstaller.org/</a>

%h2 Expectations while Programming
%p
  You will have bugs in your code, you will make mistakes, this is normal while writing software. Learning from mistakes and issues is part of the programming experience.
  Typos and other issues are expected. Don't get discouraged.

%h2 Tutorial Conventions
#style-guide
  %div
    %span.label.label-inverse Terminal
    Commands to type in terminal have black labels
  %div
    %span.label.label-warning Text-Editor
    Code to write in your text-editor have yellow labels
    %p
      %b Highlighted
      lines are the lines that we want you to create or modify
    Example (adds the 'new' and 'create' blocks to the existing file):
  :ruby
    code = <<-HEREDOC
    class ListsController < ApplicationController
        def index
            @lists = List.all
        end

        def new
            @list = List.new
        end

        def create
            @list = List.new(params[:list])
            if @list.save
                redirect_to lists_url
            else
                render action: "new"
            end
        end
    end
    HEREDOC
  = tutorial_for("ruby","Open <code>app/controllers/lists_controller.rb</code>, add the <strong>new</strong> and <strong>create</strong> actions in the controller.", code, [*5..17])

  %div
    %span.label.label-success Action
    These are action items, such as visiting a page in your browser and clicking around
  %div
    %input{:type => "checkbox"}
    Checkboxes next to each step so that participants can track their progress
  .alert.alert-success Action Items for Coaches


%h2 Development Goals
#style-guide
  %div
    On Friday, we will have the Installation Party from 7pm to 10pm. We will help you getting your laptop set up for the workshop on Saturday.
  %div
    On Saturday, we will have 3 different blocks for coding. Each tutorial is broken up into 3 parts. Aim to finish a part per block.
  %div
    %table.table.table-bordered
      %thead
        %tr
          %th Time
          %th Duration
          %th Session
          %th Comments
      %tbody
        %tr
          %td 9:00-10:00
          %td 60 minutes
          %td Welcome & Breakfast
          %td Outline of the day and welcome message from our sponsor
        %tr
          %td 10:00-10:30
          %td 30 minutes
          %td Learn about MVC
          %td Learn about the Model-View-Controller pattern in this fun workshop
        %tr
          %td 10:30-12:00
          %td 90 minutes
          %td Workshop
          %td Let's get coding! Pair with coaches to design your first web application.
        %tr
          %td 12:00-1:00
          %td 60 minutes
          %td Lunch & Lightning Talks
          %td Enjoy lunch. Listen to talks from coaches on a wide range of development topics.
        %tr
          %td 1:00-3:00
          %td 120 minutes
          %td Workshop - Continued
          %td We love coding time! Extend your web application.
        %tr
          %td 3:00 - 03:30
          %td 30 minutes
          %td Presentation
          %td Learn more about software development!
        %tr
          %td 03:30pm - 05:00pm
          %td 90 minutes
          %td Workshop - Final Stretch
          %td Final touches to your web application.
        %tr
          %td 5:00 - 6:00pm
          %td 60 minutes
          %td Showcase
          %td Attendees, show off to each other what you've been working on all day!
        %tr
          %td 6:00+
          %td
          %td Rails Girls closes
          %td We can all head out to a bar nearby to celebrate a hard day's work!

