%h2 Guidelines
%p
  Encourage your team to <strong>not</strong> copy-paste the code-snippets.  They will have a much better learning experience if they manually type in the code.

%h2 Tutorial Conventions
#style-guide
  %div
    %span.label.label-inverse Terminal
    Commands to type in terminal have black labels
  %div
    %span.label.label-warning Text-Editor
    Code to write in your text-editor have yellow labels
  %div
    %span.label.label-success Action
    These are action items, such as visiting a page in your browser and clicking around
  %div
    %input{:type => "checkbox"}
    Checkboxes next to each step so that participants can track their progress
  .alert.alert-success Action Items for Coaches


%h2 Development Goals
#style-guide
  %div
    On Saturday, we will have 3 different blocks for coding. Each tutorial is broken up into 3 parts. Aim to finish a part per block.
  %div
    %table.table.table-bordered
      %thead
        %tr
          %th Block
          %th Time
          %th Duration
          %th Goal
      %tbody
        %tr
          %td 1st
          %td 10:30am - 12:00pm
          %td 1 hour and 30 minutes
          %td Finish Part 1
        %tr
          %td 2st
          %td 01:00pm - 03:00pm
          %td 2 hours
          %td Finish Part 2
        %tr
          %td 3rd
          %td 03:30pm - 05:00pm
          %td 1 hour and 30 minutes
          %td Finish Part 3 (launch the site on<br/>Heroku; add customizations)
