!!!
%html
  %head
    %script{:language => "JavaScript1.2"}
      -#function disableselect(e){
      -#return false
      -#}
      -#function reEnable(){
      -#return true
      -#}
      -#document.onselectstart=new Function ("return false")
      -#if (window.sidebar){
      -#document.onmousedown=disableselect
      -#document.onClick=reEnable
      -#}
    %title Rails Girls Chicago - Coaches Guide

    -#Bootstrap
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js", :type => "text/javascript"}
    %script{:src => "/js/bootstrap.min.js", :type => "text/javascript"}
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}

    -#SyntaxHighlighter
    %script{:src => "/js/XRegExp.js", :type => "text/javascript"}
    %script{:src => "/js/shCore.js", :type => "text/javascript"}
    %script{:src => "/js/shBrushRuby.js", :type => "text/javascript"}
    %script{:src => "/js/shBrushJScript.js", :type => "text/javascript"}
    %script{:src => "/js/shBrushPlain.js", :type => "text/javascript"}
    %script{:src => "/js/shBrushXml.js", :type => "text/javascript"}
    %link{:href => "/css/shCore.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/shThemeDefault.css", :rel => "stylesheet", :type => "text/css"}

    -#RailsGirlsCoaches
    %link{:href => "/css/rails-girls-coaches.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "/js/json2.js", :type => "text/javascript"}
    %script{:src => "/js/dumbFormState.js", :type => "text/javascript"}



      %body{:ondragstart => "return false", :onselectstart => "return false"}
    .navbar.navbar-fixed-top
      .navbar-inner
        %a.brand{:href => "/"} &nbsp;&nbsp;Rails Girls Chicago
        %ul.nav{:role => "navigation"}
          %li.dropdown
            %a{:href => "/hello_world", :role => "button"}
              Hello World
          -#%li.dropdown
            -#%a#drop1.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button"}
              -#Bucket List
              -#%b.caret
            -#%ul.dropdown-menu{"aria-labelledby" => "drop1", :role => "menu"}
              -#%li
                -#%a{:href => "/bucket_list_part_1", :tabindex => "-1"} Part 1
              -#%li
                -#%a{:href => "/bucket_list_part_2", :tabindex => "-1"} Part 2
              -#%li
                -#%a{:href => "/upload_site", :tabindex => "-1"} Part 3
          -#%li.dropdown
            -#%a#drop1.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button"}
              -#RG! Answers
              -#%b.caret
            -#%ul.dropdown-menu{"aria-labelledby" => "drop2", :role => "menu"}
              -#%li
                -#%a{:href => "/rg_answers_part_1", :tabindex => "-1"} Part 1
              -#%li
                -#%a{:href => "/rg_answers_part_2", :tabindex => "-1"} Part 2
              -#%li
                -#%a{:href => "/upload_site", :tabindex => "-1"} Part 3
          -#%li.dropdown
            -#%a#drop1.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button"}
              -#Event Tracker
              -#%b.caret
            -#%ul.dropdown-menu{"aria-labelledby" => "drop3", :role => "menu"}
              -#%li
                -#%a{:href => "/event_tracker_part_1", :tabindex => "-1"} Part 1
              -#%li
                -#%a{:href => "/event_tracker_part_2", :tabindex => "-1"} Part 2
              -#%li
                -#%a{:href => "/upload_site", :tabindex => "-1"} Part 3
          -#%li.dropdown
            -#%a#drop1.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button"}
              -#Rails Reviews
              -#%b.caret
            -#%ul.dropdown-menu{"aria-labelledby" => "drop1", :role => "menu"}
              -#%li
                -#%a{:href => "/rails_reviews_part_1", :tabindex => "-1"} Part 1
              -#%li
                -#%a{:href => "/rails_reviews_part_2", :tabindex => "-1"} Part 2
              -#%li
                -#%a{:href => "/upload_site", :tabindex => "-1"} Part 3
          %li.dropdown
            %a#drop1.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button"}
              RG! Answers
              %b.caret
            %ul.dropdown-menu{"aria-labelledby" => "drop2", :role => "menu"}
              %li
                %a{:href => "/rg_answers_part_1", :tabindex => "-1"} Part 1
              %li
                %a{:href => "/rg_answers_part_2", :tabindex => "-1"} Part 2
              %li
                %a{:href => "/upload_site", :tabindex => "-1"} Part 3
          %li.dropdown
            %a#drop1.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button"}
              Short URL
              %b.caret
            %ul.dropdown-menu{"aria-labelledby" => "drop2", :role => "menu"}
              %li
                %a{:href => "/short_url_part_1", :tabindex => "-1"} Part 1
    .container
      %form
        =yield

:plain
  <!-- Finally, to actually run the highlighter, you need to include this JS on your page -->
  <script type="text/javascript">
    jQuery(function(){
      $('.dropdown-toggle').dropdown()
      SyntaxHighlighter.all()
      $('form').dumbFormState()
      $('body').on('touchstart.dropdown', '.dropdown-menu', function (e) { e.stopPropagation(); });
    });
  </script>

