.page-header
  %h2
    Part 3 - Upload Site
    %small Note: all Part 3's are the same

= action_for("Setting up Heroku", "Follow the steps in <a href='https://devcenter.heroku.com/articles/quickstart'>https://devcenter.heroku.com/articles/quickstart</a>.")

= action_for("Deploy Rails Site to Heroku", "Follow the steps under <strong>Deploy to Heroku</strong> in <a href='https://devcenter.heroku.com/articles/rails3'>https://devcenter.heroku.com/articles/rails3</a>.")

= action_for("More coming soon...", "TBD")
